<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.areslauncher">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.Splash">
        <activity
            android:name=".LauncherPegActivity"
            android:exported="false" />
        <activity
            android:name=".Launcher2048Activity"
            android:exported="false" />
        <activity
            android:name=".GameChooserActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".ScoresActivity"
            android:exported="false"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".HelpActivity"
            android:exported="false"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".MenuActivity"
            android:exported="true"
            android:parentActivityName=".MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>